.board {
    width: 100%;
    /* width: var(--board-width); */
    aspect-ratio: 1 / 1;

    outline: 2px solid var(--gray-500);
    border-radius: 2px;

    margin: 0 auto;

    position: relative;
}

.boardRow {
    display: flex;
    width: 100%;
    height: calc(100% / 8);
}

.boardRow:nth-child(odd) > *:nth-child(odd) { background: var(--primary-100); }
.boardRow:nth-child(even) > *:nth-child(even) { background: var(--primary-100); }
.boardRow:nth-child(even) > *:nth-child(odd) { background: var(--primary-300); }
.boardRow:nth-child(odd) > *:nth-child(even) { background: var(--primary-300); }


/* Field marks */
.boardRow:nth-child(even) > :first-child > span:nth-child(2) { color: var(--primary-100); }
.boardRow:last-child > :nth-child(even) > span:last-child { color: var(--primary-100); }
/* .boardRow:last-child > :nth-child(odd) > span:last-child { color: var(--primary-300); } */


.tmp {
    width: 48px;
    height: 48px;

    position: fixed;
    top: 50%;
}
.tmp:nth-child(2) { top: calc(50% - 48px); border-bottom: 2px solid black; }



@media(max-width: 1096px) {
    .board {
        width: var(--board-width-md);
    }
}

@media(max-width: 960px) {
    .board {
        width: 100%;
        max-width: 100%;
    }
}